<div class="components-container row">
	<div class="col-xs-12 logout-mode">
		<p class="welcome-text">{{i18n 'lng_operations_login_welcomeMr'}}</p>
		<p class="user-name">{{userName}}</p>
		<p>{{i18n 'lng_operations_login_loggedRemind'}}</p>
	</div>
</div>
<div class="components-container row no-margin-top no-padding-top">
	<div class="col-xs-12 login-button">
		{{> IDKButtonComponent components.login-button }}
	</div>
</div>
<div class="components-container row no-margin-top no-padding-top">
	<div class="col-xs-12 login-button">
		{{> IDKButtonComponent components.logout-button }}
	</div>
</div>